<div class="mail-layout-Aside main-columns col-md-2 list-group">
    <button type="button" 
    class="btn btn-lg btn-danger" 
    id="compose" 
    ui-sref="app.contacts.edit({contactId : 'new'})">Add contact</button>
</div>
<div class="main-columns col-md-10 list-group ">
    <a ui-sref="app.contacts.edit({contactId : '{{key}}'})" 
    ui-sref-active="active" 
    class="mail-layoyt-messages-list-box list-group-item" 
    ng-repeat="(key, value) in contactsPage.contacts | filter:main.messagesListFilter | orderBy:'name'"
    ng-click="contactsPage.show(value)">
        <h4 class="list-group-item-heading">{{value.name}}</h4>
        <p class="list-group-item-text">{{value.email}}</p>
    </a>
</div>
