<!-- aside(inbox,sent,draft,trash,spam) -->
<div class="mail-layout-Aside main-columns col-md-2 list-group">
  <button type="button" class="btn btn-lg btn-danger" id="compose" ui-sref="app.contacts.edit({contactId : 'new'})">Add contact</button>
</div>
<!-- end aside(inbox,sent,draft,trash,spam)-->
<!-- messages list -->
<div class="main-columns col-md-10 list-group ">
  <a ui-sref = "app.contacts.edit({contactId : '{{value.id}}'})"
    ui-sref-active="active" 
  class="mail-layoyt-messages-list-box list-group-item" 
  ng-repeat="(key, value) in contactsPage.contacts | filter:main.messagesListFilter" 
  ng-click="contactsPage.show(value)" 
  ng-class="{active: contactsPage.message === value}">
    <h4 class="list-group-item-heading">{{value.name}}</h4>
    <p class="list-group-item-text">{{value.email}}<!-- <img src="{{value.avatar}}"> --></p>
  </a>
</div>
<!-- end messages list -->
<!-- message body -->
<!-- <div class="main-columns col-md-5 list-group"> -->
  <!-- <contact name="main.contact.current.name"></contact> -->
<!-- </div> -->
<!-- end message body -->
